@font-face {
  font-family: "Anodina-Regular";
  src: url("/fonts/Anodina-Regular.otf");
}

@font-face {
  font-family: "Anodina-Bold";
  src: url("/fonts/Anodina-Bold.otf");
}

@font-face {
  font-family: "Anodina-ExtraBold";
  src: url("/fonts/Anodina-ExtraBold.otf");
}

@font-face {
  font-family: "Tungsten-Bold";
  src: url("/fonts/Tungsten-Bold.ttf");
}
