.container {
  position: relative;
  margin: 0 auto;

  &--fluid {
    padding: 30px 20px;
  }

  &-inner {
    max-width: 1160px;
    padding: 30px 20px;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
      padding: 50px 20px;
    }

    @media screen and (min-width: 1440px) {
      padding: 75px 20px;
    }
  }

  &.top-content {
    @media screen and (min-width: 1200px) {
      min-height: calc(100vh - 144px);
    }

    @media screen and (min-width: 1440px) {
    }
  }
}
